.hero-slider
  position: absolute
  left: 0
  overflow: hidden
  background: blue
  height: 500px
  width: 100%

.slide
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding: 0 15px
  background: purple
