@import 'mixin/reset'
@import 'mixin/grid'

html, body
  background: #fff
  color: #000
  margin-top: 40px

.gamespace-container
  margin: 0 auto
  width: 100%
  padding: 0 15px

$networkbar-heronav-link-color: #3497b8

@import 'components/networkbar'
@import 'components/heroslider'
