html,
body,
ol,
ul {
  margin: 0;
  padding: 0; }

html, body {
  font-size: 16px; }

a,
a:visited {
  color: #fff;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

ol, ul {
  list-style: none; }

html, body {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  background: #000;
  color: #fff;
  margin-top: 40px; }

.gamespace-container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px; }

.networkbar {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #292929;
  background: #000;
  z-index: 10; }
  .networkbar::after {
    display: table;
    content: '';
    clear: both; }

.hero-nav {
  float: right;
  font-size: .75rem; }
  .hero-nav > a {
    margin-left: 15px;
    color: #3497b8; }
    .hero-nav > a:hover {
      text-decoration: none;
      color: #fff; }
    .hero-nav > a span {
      margin-right: 5px; }

.hero-slider {
  position: absolute;
  left: 0;
  overflow: hidden;
  background: #red;
  height: 200px;
  width: 100%; }

.slide {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 30px;
  background: purple;
  background-repeat: no-repeat !important;
  background-size: auto 200px !important;
  background-position: center center; }

.heroslider-controls {
  position: absolute;
  z-index: 100; }

.heroslider-controls-left {
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem; }

.heroslider-controls-right {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem; }

.hero-slider-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(to right, black 0%, transparent 20%, transparent 80%, black 100%); }

.slide-title {
  position: relative;
  top: 130px;
  font-size: 1rem;
  font-family: "Arial Black";
  color: #fff;
  z-index: 5;
  width: 100%;
  font-weight: 700;
  word-wrap: break-word; }
  .slide-title > a {
    display: block; }
